.App {
  display: flex;
  flex-direction: column;
  background-color: rgb(32, 35, 37);
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.top-section {
  display: flex;
  flex: 1;
  gap: 20px;
  margin-bottom: 20px;
}

.toolbar {
  width: 25%;
  background-color: rgb(42, 45, 47);
  color: white;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
}

.plot-area {
  flex: 1;
  background-color: rgb(24, 26, 27);
  color: white;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
}

.dashboard {
  height: 150px;
  width: 100%;
  background-color: rgb(42, 45, 47);
  color: white;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px -2px 4px;
}
